html {
    min-height: 100%
}

body {
    position: relative;
    background-color: #242D43;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

a,
a:visited,
a:active {
    color: white;
    text-decoration: none;
}

h1,
h3 {
    font-weight: 200;
    margin: 0
}

h1 {
    font-size: 72px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 125px;
}

.logo {
    width: 50%;
    display: flex;
    font-size: 24px;
}

#logo {
    object-fit: contain;
    margin-right: 20px;
}

.navigation {
    width: 50%;
}

.navigation ul,
#mobileMenu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navigation ul li a,
.mobileLink a {
    margin: 0 60px;
    font-size: 24px;
    text-decoration: none;
}

main {
    padding-bottom: 75px;
}

#landing,
#discover,
#join {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    padding: 14px 125px;
}

#landing img {
    object-fit: contain;
}

.circle-1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #BC3A80;
    opacity: 0.1;
    bottom: 5vw;
    left: 3vw;
    z-index: -1;
}

.circle-2 {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-color: #176287;
    opacity: 0.1;
    top: 6vw;
    left: 32vw;
    z-index: -1;
}

.circle-3 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    opacity: 0.1;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.circle-3::before {
    content: '';
    position: absolute;
    /*    transform: translate(40%, 40%);*/
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #176287;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 160px 30px;
}

.text h3 {
    margin: 70px 0;
}

.submit {
    background-color: #213978;
    font-size: 24px;
    color: white;
    width: 235px;
    height: 90px;
    border-radius: 10px;
    border: none;
}

#discover section {
    width: 50%;
    min-width: 700px;
}

section.covers {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

section.covers img {
    object-fit: cover;
    width: 80%;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.card {
    background-color: #202027;
    max-width: 220px;
    max-height: 205px;
    text-align: center;
    border: none;
    padding: 20px;
}

.card img {
    width: inherit;
    margin: 32px 60px;
}

.form {
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202027;
    border-radius: 20px;
    font-size: 24px;
    padding: 70px 100px;
}

form * {
    width: 80%;
}

form input {
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #213978;
    background-color: #202027;
    margin-bottom: 30px;
}

form label {
    width: 100%;
    margin-bottom: 30px;
}

#join .submit {
    width: 100%;
    height: 78px;
    margin-top: 50px;
}

#join h1 {
    font-weight: bold;
    margin-top: 215px;
}

#join h1 span {
    font-size: 96px;
    color: #BC3A80;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #202027;
    padding: 20px 95px;
    margin-top: 50px;
    bottom: 0;
    max-width: 100%;
}

footer a {
    font-size: 24px;
    margin-right: 25px;
}

footer img {
    margin-right: 10px;
}

#landing,
#discover,
.hamburguerMenu,
ul#mobileMenu {
    display: none;
}

@media screen and (min-width: 992px) and (max-width: 1650px) {

    #discover,
    #join {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #landing img,
    #landing .text {
        max-width: 40%;
    }

    .text {
        justify-content: flex-start;
        padding: 80px 30px;
    }

    .text h3 {
        margin: 50px 0;
    }

    #discover section {
        justify-content: center;
    }

    #join h1 {
        margin: 0px;
    }

    #join .form {
        min-width: 600px;
    }

    .hamburguerMenu,
    ul#mobileMenu {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }

    header {
        padding: 30px 10%;
    }

    nav {
        padding: 0;
    }

    .menuLink {
        display: none;
    }

    .hamburguerMenu {
        display: block;
    }

    .mobile-menu {
        display: block;
    }

    #mobileMenu {
        height: 100%;
        background-color: #213978;
        border-radius: 10px;
        padding: 0;
    }

    .mobileLink {
        padding: 20px 0;
    }
    
    .mobileLink:first-child {
        border-bottom: 1px solid white;
    }

    .hamburguerMenu.open #linea-1 {
        transform: rotate(40deg) translate(7px, 10px);
        transition: all .1s ease-in-out;
    }

    .hamburguerMenu.open #linea-2 {
        opacity: 0;
    }

    .hamburguerMenu.open #linea-3 {
        transform: rotate(-40deg) translate(7px, -10px);
        transition: all .1s ease-in-out;
    }

    .linea {
        margin-top: 10px;
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: white;
    }

    .logo {
        width: auto;
    }

    .logo p {
        font-size: 24px;
    }

    #landing,
    #discover,
    #join {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 50px 20px;
        margin: 0;
        height: auto;
    }

    #landing img {
        max-width: 60%;
        object-position: bottom;
    }

    #landing .text {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .text h3 {
        margin: 40px 0;
    }

    .submit {
        font-size: 18px;
        color: white;
        width: 50%;
        height: 50px;
    }

    .circle-1,
    .circle-2,
    .circle-3 {
        display: none;
    }

    #discover,
    #join {
        flex-direction: column;
    }

    #discover section {
        width: 80%;
        text-align: center;
    }

    section.covers {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.covers img {
        width: 80%;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: #202027;
        width: 25%;
        height: inherit;
        text-align: center;
        border: none;
        padding: 20px 20px 0;
        margin: 20px;
    }

    .card img {
        width: 60%;
        margin: 0px;
    }

    #join {
        padding-top: 0;
    }

    #join h1 {
        margin: 0;
    }

    .form {
        width: 80%;
    }

    form {
        font-size: 18px;
        padding: 20px 30px;
    }

    form input {
        height: 50px;
        margin-bottom: 20px;
    }

    form label {
        margin-bottom: 20px;
    }

    #join .submit {
        width: 30%;
        height: 40px;
        margin-top: 20px;
    }

    #landing,
    #discover {
        display: none;
    }

    #mobileMenu {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.5em;
    }

    .submit {
        width: 100%;
    }

    .circle-1,
    .circle-2,
    .circle-3 {
        display: none;
    }

    #discover,
    #join {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 400px;
    }

    #discover section {
        min-width: 300px;
        width: 100%;
        text-align: center;
    }

    section.covers {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.covers img {
        width: 90%
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 30%;
        max-height: 100%;
    }

    .form {
        width: 90%;
    }

    form input {
        height: 30px;
    }

    #join .submit {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center
    }

    footer a {
        font-size: 18px;
    }
}
